[submodule "fixtures/with_dependencies/fixtures/with_dependencies/src/with_dependencies/vendor/github.com/ZiCog/shiny-thing"]
	path = fixtures/with_dependencies/fixtures/with_dependencies/src/with_dependencies/vendor/github.com/ZiCog/shiny-thing
	url = https://github.com/ZiCog/shiny-thing
